---
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout title="Test Blog Post" date="Sept 27, 2025" author="Fat Cat">
  <p>This is a sample blog post. Let’s test the <strong>styles</strong>.</p>

  <blockquote>
    “Owning a yacht is 10% sailing, 90% fixing things while drunk.”
  </blockquote>

  <ul>
    <li>Rolex</li>
    <li>Yacht</li>
    <li>Private Chef</li>
  </ul>
</BlogLayout>